[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = ">=2.1.9"
gunicorn = "*"
django-heroku = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
django-auditlog = "*"
dj-database-url = "*"

[requires]
python_version = "3.6"
